@model List<shop.Models.Category>
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<ul>
@foreach (var cat in Model)
{
    <li>
    @cat.Name
    </li>
    }
</ul>
@Html.ActionLink("New", "AddCategory", "Admin")